<div class="crm-container">
  <!--  <div crm-ui-debug="$ctrl.myContact"></div>-->

  <h1 crm-page-title>{{ts('Advanced Event Management')}}</h1>


  <div class="crm-flex-box">
    <div class="crm-flex-2 crm-dashboard-droppable ng-not-empty" >
      <div class="crm-dashlet ng-scope">
        <div id="master_event">
          <form name="select_master">
            <div class="section crmkas-event-area">
              <div class="label bold">
                {{ts('Event')}}
              </div>
              <table>
                <thead>
                <th width="25%" />
                <th width="auto" />
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <label for="eventId" class="control-label">{{ts('Select Event')}}</label>
                    </td>
                    <td>
                      <input
                        crm-entityref="{entity: 'Event', api: {params: {is_active: 1}}, select: {allowClear:true, minimumInputLength: 1}}"
                        class="form-control"
                        id="masterEventId"
                        name="eventId"
                        ng-model="masterEventId"
                        ng-required="false"
                        ng-change="eventSelected()"
                        />
                    </td>
                  </tr>  
                  <tr >
                    <td>
                      <label for="masterTitle" class="control-label">{{ts('Title')}}</label>
                    </td>
                    <td>
                      <input 
                        type="text" 
                        class="form-control huge big disabled"
                        id="masterTitle"
                        ng-model="masterEvent.title"
                        />
                    </td>
                  </tr>
                  <tr >
                    <td>
                      <label for="masterStart" class="control-label">{{ts('Start')}}</label>
                    </td>
                    <td>
                      <input 
                        type="text" 
                        class="form-control huge big disabled"
                        id="masterStart"
                        ng-model="masterEvent.start_date"
                        />
                    </td>
                  </tr>
                  <tr >
                    <td>
                      <label for="masterEnd" class="control-label">{{ts('End')}}</label>
                    </td>
                    <td>
                      <input 
                        type="text"
                        class="form-control huge big disabled"
                        id="masterEnd"
                        ng-model="masterEvent.end_date"
                        />
                    </td>
                  </tr>
                  <tr >
                    <td>
                      <label for="masterEnd" class="control-label">{{ts('Resource')}}</label>
                    </td>
                    <td>
                      <input 
                        type="text"
                        class="form-control huge big disabled"
                        id="masterEnd"
                        ng-model="masterEvent['resource.display_name']"
                        />
                    </td>
                  </tr>
                  <tr >
                    <td>
                      <label for="masterEnd" class="control-label">{{ts('Responsible')}}</label>
                    </td>
                    <td>
                      <input 
                        type="text"
                        class="form-control huge big disabled"
                        id="masterEnd"
                        ng-model="masterEvent['resp.display_name']"
                        />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="crm-flex-3">
      <div class="tab">
        <button class="tablinks" ng-click="selectTab('repeat')">{{ts('Repeat')}}</button>
        <button class="tablinks" ng-click="selectTab('participants')">{{ts('Participants')}}</button>
      </div>

      <!-- Tab content -->
      <div id="repeat_tab" class="ng-hide" ng-hide="hideTabs.repeat">
        <form name="repeat_event">
          <div class="section crmresource-event-area">
            <div class="label bold">
              {{ts('Repeat')}}
            </div>
          </div>
          <table class="form-layout-compressed">
            <tbody>
              <tr class="crm-core-form-recurringentity-block-repetition_start_date" id="tr-repetition_start_date">
                <td class="label"><label for="repetition_start_date">Start Date</label></td>
                <td>
                  <input 
                    type="text" 
                    class="form-control huge big disabled"
                    id="masterStart"
                    ng-model="masterEvent.start_date"
                    />
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <table>
                    <thead>
                      <tr >
                        <th class="font-weight-bold" colspan="2" >{{ts('Repeat every')}}</th>
                        <th class="font-weight-bold">{{ts('Times')}}</th>
                        <th class="font-weight-bold">{{ts('LastDate')}}</th>
                        <th class="font-weight-bold">{{ts('Add')}}</th>
                        <th class="font-weight-bold">{{ts('Remove')}}</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr ng-repeat="row in repeats" >
                        <td>
                          <select class="required crm-form-select" 
                                  ng-model="repeats[$index].rep_freq"
                                  ng-change="repeatChanged({{$index}})"
                                  name="repetition_frequency_interval_{{$index}}" 
                                  id="repetition_frequency_interval_{{$index}}">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                          </select>
                        </td>
                        <td>
                          <select class="required crm-form-select" 
                                  ng-model="repeats[$index].rep_every"
                                  ng-change="repeatChanged({{$index}})"
                                  name="repetition_frequency_unit_{{$index}}" 
                                  id="repetition_frequency_unit_{{$index}}">
                            <option value="day">day(s)</option>
                            <option value="week">week(s)</option>
                            <option value="month">month(s)</option>
                            <option value="year">year(s)</option>
                          </select>
                        </td>
                        <td>
                          <select class="required crm-form-select" 
                                  ng-model="repeats[$index].rep_times"
                                  ng-change="repeatChanged({{$index}})"
                                  name="repetition_frequency_repeat_{{$index}}" 
                                  id="repetition_frequency_repeat_{{$index}}">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                          </select>
                        </td>
                        <td>
                          <input 
                            type="text" 
                            class="form-control huge big disabled"
                            id="masterStart"
                            ng-model="repeats[$index].rep_last_date"
                            />
                        </td>
                        <td>
                          <a class="crm-hover-button" 
                             ng-click="addRepeat()"
                             title="Add" style="visibility: visible;">
                            <i class="crm-i fa-plus-circle" aria-hidden="true">
                            </i>
                          </a>                          
                        </td>
                        <td>
                          <a class="crm-hover-button" 
                             ng-click="removeRepeat($index)"
                             title="Remove" style="visibility: visible;">
                            <i class="crm-i fa-trash-o" aria-hidden="true">
                            </i>
                          </a>                          
                        </td>
                      </tr>        
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>    
          <div class="crm-submit-buttons crm-button-disabled">
            <button class="crm-form-submit default validate crm-button crm-button-type-submit " 
                    name="repeat_submit" 
                    ng-click="saveRepeatedEvents()"
                    id="repeat_submit">
              <i aria-hidden="true" class="crm-i fa-check"></i>
              {{ts('Save')}}
            </button>
          </div>
        </form>
      </div>

      <div id="group_tab" class="ng-hide" ng-hide="hideTabs.participants">
        <h3>Paris</h3>
        <p>Paris is the capital of France.</p>
      </div>
    </div>
  </div>
</div>
