<div class="crm-container">
  <!--  <div crm-ui-debug="$ctrl.myContact"></div>-->

  <h1 crm-page-title>{{ts('Advanced Event Management')}}</h1>


  <div class="crm-flex-box">
    <div class="crm-flex-2 crm-dashboard-droppable ng-not-empty" >
      <div class="crm-dashlet ng-scope">
        <div id="master_event">
          <form name="select_master">
            <div class="section crmkas-event-area">
              <div class="label bold">
                {{ts('Event')}}
              </div>
              <table>
                <thead>
                  <tr>
                    <th class="w-25" ></th>
                    <th class="w-auto" ></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <label for="eventId" class="control-label">{{ts('Select Event')}}</label>
                    </td>
                    <td>
                      <input
                        crm-entityref="{entity: 'Event', api: {params: {is_active: 1}}, select: {allowClear:true, minimumInputLength: 1}}"
                        class="form-control"
                        id="eventId"
                        name="eventId"
                        ng-model="masterEventId"
                        ng-required="false"
                        ng-change="eventSelected()"
                        />
                    </td>
                  </tr>  
                </tbody>
              </table>
              <details>
                <summary>
                  {{ts('Information')}}
                </summary>
                <div class="crm-accordion-body">
                  <table>
                    <thead>
                    <th width="25%" />
                    <th width="auto" />
                    </thead>
                    <tbody>
                      <tr >
                        <td>
                          <label for="masterTitle" class="control-label">{{ts('Title')}}</label>
                        </td>
                        <td>
                          <input 
                            type="text" 
                            class="form-control huge big disabled"
                            id="masterTitle"
                            ng-model="masterEvent.title"
                            />
                        </td>
                      </tr>
                      <tr >
                        <td>
                          <label for="masterStart" class="control-label">{{ts('Start')}}</label>
                        </td>
                        <td>
                          <input 
                            type="text" 
                            class="form-control huge big disabled"
                            id="masterStart"
                            ng-model="masterEvent.start_date"
                            />
                        </td>
                      </tr>
                      <tr >
                        <td>
                          <label for="masterEnd" class="control-label">{{ts('End')}}</label>
                        </td>
                        <td>
                          <input 
                            type="text"
                            class="form-control huge big disabled"
                            id="masterEnd"
                            ng-model="masterEvent.end_date"
                            />
                        </td>
                      </tr>
                      <tr >
                        <td>
                          <label for="masterEnd" class="control-label">{{ts('Resource')}}</label>
                        </td>
                        <td>
                          <input 
                            type="text"
                            class="form-control huge big disabled"
                            id="masterEnd"
                            ng-model="masterEvent['resource.display_name']"
                            />
                        </td>
                      </tr>
                      <tr >
                        <td>
                          <label for="masterEnd" class="control-label">{{ts('Responsible')}}</label>
                        </td>
                        <td>
                          <input 
                            type="text"
                            class="form-control huge big disabled"
                            id="masterEnd"
                            ng-model="masterEvent['resp.display_name']"
                            />
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </details>                  
              <details>
                <summary>
                  {{ts('Repeat')}}
                </summary>
                <div class="crm-accordion-body">
                  <table>
                    <thead>
                      <tr>
                        <th ng-repeat="(key, value) in existingRepeatsDisplay">{{value}}</th>
                      </tr>
                    </thead>
                    <tbody> 
                      <tr ng-repeat="repeat in existingRepeats" >
                        <td  ng-repeat="(key, value) in existingRepeatsDisplay">{{repeat[key]}}</td>
                        <td>
                          <a class="crm-hover-button" 
                             ng-click="changeMasterEvent(repeat.id)"
                             title="Open" style="visibility: visible;">
                            <i class="crm-i fa-folder-open-o" aria-hidden="true">
                            </i>
                          </a>                          
                        </td>
                        <td>
                          <a class="crm-hover-button" 
                             ng-click="removeRepeatedEvent(repeat.id)"
                             title="Remove" style="visibility: visible;">
                            <i class="crm-i fa-trash-o" aria-hidden="true">
                            </i>
                          </a>                          
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </details>                  
              <details>
                <summary >
                  {{ts('Participants')}}
                </summary>
                <div class="crm-accordion-body">
                  <table>
                    <thead>
                      <tr>
                        <th ng-repeat="(key, value) in masterEventParticipantLabels">{{value}}</th>
                      </tr>
                    </thead>
                    <tbody> 
                      <tr ng-repeat="repeat in masterEventParticipants" >
                        <td  ng-repeat="(key, value) in masterEventParticipantLabels">{{repeat[key]}}</td>
                        <td>

                        </td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </details>                  
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="crm-flex-3">
      <div class="tab">
        <button class="tablinks" ng-click="selectTab('repeat')">{{ts('Repeat')}}</button>
        <button class="tablinks" ng-click="selectTab('import')">{{ts('Import Partiticipants')}}</button>
      </div>

      <!-- Tab content -->
      <div id="repeat_tab" class="ng-hide" ng-hide="hideTabs.repeat">
        <form name="repeat_event">
          <div class="section crmresource-event-area">
            <div class="label bold">
              {{ts('Repeat')}}
            </div>
          </div>
          <table class="form-layout-compressed">
            <tbody>
              <tr class="crm-core-form-recurringentity-block-repetition_start_date" id="tr-repetition_start_date">
                <td class="label"><label for="repetition_start_date">Start Date</label></td>
                <td>
                  <input 
                    type="text" 
                    class="form-control huge big disabled"
                    id="repetition_start_date"
                    ng-model="masterEvent.start_date"
                    />
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <table>
                    <thead>
                      <tr >
                        <th class="font-weight-bold" colspan="2" >{{ts('Repeat every')}}</th>
                        <th class="font-weight-bold">{{ts('Times')}}</th>
                        <th class="font-weight-bold">{{ts('LastDate')}}</th>
                        <th class="font-weight-bold">{{ts('Add')}}</th>
                        <th class="font-weight-bold">{{ts('Remove')}}</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr ng-repeat="row in repeats" >
                        <td>
                          <select class="required crm-form-select" 
                                  ng-model="repeats[$index].rep_freq"
                                  ng-change="repeatChanged({{$index}})"
                                  name="repetition_frequency_interval_{{$index}}" 
                                  id="repetition_frequency_interval_{{$index}}">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                          </select>
                        </td>
                        <td>
                          <select class="required crm-form-select" 
                                  ng-model="repeats[$index].rep_every"
                                  ng-change="repeatChanged({{$index}})"
                                  name="repetition_frequency_unit_{{$index}}" 
                                  id="repetition_frequency_unit_{{$index}}">
                            <option value="day">day(s)</option>
                            <option value="week">week(s)</option>
                            <option value="month">month(s)</option>
                            <option value="year">year(s)</option>
                          </select>
                        </td>
                        <td>
                          <select class="required crm-form-select" 
                                  ng-model="repeats[$index].rep_times"
                                  ng-change="repeatChanged({{$index}})"
                                  name="repetition_frequency_repeat_{{$index}}" 
                                  id="repetition_frequency_repeat_{{$index}}">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                          </select>
                        </td>
                        <td>
                          <input 
                            type="text" 
                            class="form-control huge big disabled"
                            id="masterStart"
                            ng-model="repeats[$index].rep_last_date"
                            />
                        </td>
                        <td>
                          <a class="crm-hover-button" 
                             ng-click="addRepeat()"
                             title="Add" style="visibility: visible;">
                            <i class="crm-i fa-plus-circle" aria-hidden="true">
                            </i>
                          </a>                          
                        </td>
                        <td>
                          <a class="crm-hover-button" 
                             ng-click="removeRepeat($index)"
                             title="Remove" style="visibility: visible;">
                            <i class="crm-i fa-trash-o" aria-hidden="true">
                            </i>
                          </a>                          
                        </td>
                      </tr>        
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>    
          <tr class="crm-core-form-recurringentity-block-repetition_start_date" id="tr-repetition_start_date">
            <td class="label"><label for="new_title">{{ts('Title Base')}}</label></td>
            <td>
              <input 
                type="text" 
                class="form-control huge big"
                id="new_title"
                ng-model="newTitle"
                />
            </td>
          </tr>
          <div class="crm-submit-buttons crm-button-disabled">
            <button class="crm-form-submit default validate crm-button crm-button-type-submit " 
                    name="repeat_submit" 
                    ng-click="saveRepeatedEvents()"
                    id="repeat_submit">
              <i aria-hidden="true" class="crm-i fa-check"></i>
              {{ts('Save')}}
            </button>
          </div>
        </form>
      </div>

      <div id="import_tab" class="ng-hide" ng-hide="hideTabs.import">
        <h3>Import</h3>
        <div class="help">
          <p>{{ts('Paste the input lines with tab-separated data to the paste area')}}</p>

          <p>{{ts('Please make sure it has headings and that one of them is Konto (medlemsnummer) or Email')}}</p>
        </div>

        <form name="paste_form" >
          <div class="section crmkas-pastearea">
            <div class="label bold">
              {{ts('Paste Area')}}
            </div>
            <div class="content">
              <div class="crm-block">
                <div class="form-group">
                  <textarea ng-model="paste_area"
                            ng-change="pasted()"
                            class="form-control ng-pristine ng-valid ng-empty ng-touched " 
                            id="paste_area" 
                            Cols="80" ></textarea>
                </div>      
              </div>
            </div>
          </div>
          <table>
            <thead>
              <tr class="columnheader">
                <th width="25%" >{{ts("Input Column")}}</th>
                <th width="25%" >{{ts("Target")}}</th>
                <th width="auto" ></th>
              </tr>            
            </thead>
            <tbody>
              <tr ng-repeat="(rowindex, row) in pastedMappings">
                <td>
                  <select class="crm-form-select" 
                          ng-model="pastedMappings[$index].input_field"
                          ng-change="pastedMappingsChanged($index)">
                    <option value="">{{ts("none")}}</option>
                    <option ng-repeat="value in pastedColumns" value="{{value}}" >{{value}}</option>
                  </select>
                </td>
                <td>
                  <select class="crm-form-select" 
                          ng-model="pastedMappings[$index].target"
                          ng-change="pastedMappingsChanged($index)">
                    <option value="">{{ts("none")}}</option>
                    <option ng-repeat="(key, value) in targetFieldsMap" value="{{key}}" >{{value}}</option>
                  </select>
                  <a class="crm-hover-button" 
                     ng-click="addPasteMapping()"
                     title="Add" style="visibility: visible;">
                    <i class="crm-i fa-plus-circle" aria-hidden="true">
                    </i>
                  </a>                          

                </td>
                <td>
                  <div ng-if="isTargetRole(rowindex)">
                    <table >
                      <tr>
                        <th>{{ts("Input Value")}}</th>
                        <th>{{ts("Target")}}</th>
                      </tr>
                      <tr ng-repeat="(uind, uval) in uniqueRoleValues">
                        <td>{{uval.field}}</td>
                        <td>
                          <select ng-model="uniqueRoleValues[$index].role_id">
                            <option value="null">{{ts('None')}}</option>
                            <option ng-repeat="role in roleIdList" value="{{role.id}}">{{role.label}}</option>
                          </select>
                        </td>
                      </tr>
                    </table>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="crm-actions-ribbon">
            <ul id="actions">
              <li>
                <a class="button" ng-click="addPastedParticipants()" >
                  <span>{{ts('Add Participants To Selected Event')}}</span>
                </a>            
              </li>
            </ul>
            <div class="clear"></div>
          </div>        </form>
        <details id="import_error_accordian" open>
          <summary>
            {{ts('Errors')}}
          </summary>
          <div class="crm-accordion-body">

            <table class="">
              <thead>
              <th class="h2" ng-repeat="fh in notFoundHeaders" >{{fh}}</th>
              </thead>

              <tbody>
                <tr ng-repeat="row in notFound" >
                  <td ng-repeat="field in row" >{{field}}</td>
                </tr>        
              </tbody>
            </table>
          </div>
        </details>

        <details id="import_contacts_accordian" open>
          <summary>
            {{ts('Contacts')}}
          </summary>
          <div class="crm-accordion-body">
            <table>
              <thead>
              <th ng-repeat="fh in foundHeaders" >
                <div class="font-weight-bold">{{fh}}</div>
              </th>
              </thead>

              <tbody>
                <tr ng-repeat="row in found" >
                  <td ng-repeat="field in row" >{{field}}</td>
                </tr>        
              </tbody>
            </table>
          </div>
        </details>
      </div>
    </div>
  </div>
</div>
